.container {
  background-image: url(/media/logo.jpg);
  width: 100%;
  height: 900px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: relative; */
  /* resize: both; */
}

h1 {
  text-align: center;
  color: #8a2be2;
  margin-top: 63px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 36px;
  padding-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.frame-left {
  width: 33%;
  /* background-color: rgba(255, 255, 255, 0.7); */
  border-right: 5px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  /* opacity: 0.5; */
}

.before {
  height: 450px;
  margin: 0 auto;
  background-image: url(/media/image.jpg);
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  /* border-radius: 30px; */
  background-position-x: center;
  background-position-y: center;
  opacity: 0.8;
  transition: opacity ease-in 0.5s;
  /* box-shadow: 1px 1px 0px rgb(0 0 0 / 0.2); */
  border-right: 1px solid rgb(187 185 185 / 50%);
}

.frame-middle {
  width: 33%;
  height: 701px;
  background-color: rgb(255 255 255 / 70%);
  display: inline-block;
  color: black;
  text-align: left;
  margin: auto;
  font-size: 28px;
  vertical-align: top;
  /* margin-top: -160px; */
}

.middle {
  height: 450px;
  background-position-x: right;
  background-position-y: center;
  display: inline-block;
  font-family: "Glory", sans-serif;
  /* margin-top: 154px; */
}

.frame-right {
  width: 33%;
  /* background-color: rgba(255, 255, 255, 0.7); */
  text-align: left;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  border-right: 0;
  border-left: 5px solid rgba(255, 255, 255, 0.3);
  /* opacity: 0.5; */
}

.after {
  height: 450px;
  margin: 0 auto;
  background-image: url(/media/after.jpg);
  margin-left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  /* border-radius: 30px; */
  opacity: 0.8;
  transition: opacity ease-in 0.5s;
  background-position-x: center;
  border-left: 1px solid rgb(187 185 185 / 50%);
  background-position-y: center;
}
.after:hover {
  opacity: 1;
}

.before:hover {
  opacity: 1;
}

.credit {
  width: 33%;
  display: inline-block;
  height: 300px;
  vertical-align: top;
  margin-top: -246px;
}
.image {
  background-image: url(/media/logo1.jpg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.link {
  text-align: center;
}
span.powered {
  margin-top: 60px;
  display: block;
  font-family: "Bruno Ace SC", cursive;
  font-weight: 700;
  line-height: 25px;
}
span.powered a:hover {
  color: rgb(238, 154, 154);
  text-shadow: 1px 1px rgb(0, 0, 0, 0.5);
}
.image a {
  display: block;
  width: 50%;
  height: 50%;
  margin: 79px auto;
}
